/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

body {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  background: linear-gradient(#374151, #111827);
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 1080px;
  margin: 71px auto 69px;
}

.logo {
  position: relative;
}

.logo h1 {
  padding-left: 46px;
}

.logo h1::before {
  content: "";
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  position: absolute;
  background-color: #4B5563;
  border-radius: 3px;
  left: 0;
  display: block;
  line-height: 100%;
}

.logo h1::after {
  content: "B";
  font-weight: 400;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  position: absolute;
  left: 12px;
  top: 4px;
}

.logo a {
  font-size: 18px;
  font-weight: 400;
}

.menu {
  list-style: none;
  padding-left: 0;
}

.search input {
  background-color: rgba(31, 41, 55, 0.6);
  padding: 9px;
  padding-left: 49px;
  width: 224px;
  border-radius: 100px;
  border-width: 0;
  color: white;
  font-size: 16px;
}

.search label {
  color: rgba(255, 255, 255, 0.6);
}

main {
  margin: 0 auto 100px;
  width: 1080px;
}

.theme {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  width: 180px;
  margin: 0 auto;
  margin-bottom: 14px;
}

.theme p {
  margin: 0;
}

.blog-article__header {
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  width: 526px;
  text-align: center;
  margin: 0 auto 30px;
}

.blog-article__author {
  margin: 0 auto 28px;
  width: 214px;

}

.blog-article__author img {
  width: 50px;
  height: 50px;
  margin-right: 16px;
}

.blog-article__author p{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}

.blog-article__image {
  width: 896px;
  height: 594px;
  display: block;
  margin: 0 auto 69px;
}

.blog-article__content {
  width: 708px;
  margin: 0 auto;
}

.blog-article__content p {
  margin-bottom: 35px;
}

.blog-article__content p span {
  text-decoration: underline white;
}

.blog-article__content p:first-child {
  font-size: 20px;
  line-height: 32px;
}

.footer {
  color: rgba(255, 255, 255, 0.6);
  width: 1080px;
  margin: 0 auto;
}

.footer p {
  width: max-content;
  margin: 0 auto 77px;

}
